<div class="navbar-container">
  <app-navbar></app-navbar>
</div>


<div
  style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <div style="">
    <div style="margin-bottom: 2em; display: flex; justify-content: center">
      <p-autoComplete [(ngModel)]="searchValue" (input)="onInput($event)" placeholder="Rechercher"></p-autoComplete>
    </div>

    <div>

      <p-table class="p-table-style" [value]="services" selectionMode="single" [paginator]="true" [rows]="5"
               [tableStyle]="{ 'width': '100%', 'height': '100%' }">
        <ng-template pTemplate="header">
          <tr style="text-align: center">
            <th>Nom</th>
            <th>Numéro</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>
            <td>{{ service.nom }}</td>
            <td>{{ service.id }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

