/* You can add global styles to this file, and also import other style files */
body{
  background-color: #1E1E1E;
  color: #ffffff;
}
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.customise-btn{
  padding: 1em;
  margin: 1em;
  background: #4B9CD3;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  padding: 1rem 1rem;
  border: 1px solid #444444 ;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #F5F5F5;
  background: #1E1E1E;
  transition: box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  border: 1px solid #444444 ;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  background: #1E1E1E;
  color: #F5F5F5;
}

.p-datatable .p-datatable-tbody > tr > td:hover{
  text-align: center;
  border: 1px solid #444444 ;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  background: #292929;
  color: #F5F5F5;
}

.p-paginator {
  background: #1E1E1E;
  color: #F5F5F5;
  border: solid #444444;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #EFF6FF;
  border-color: #EFF6FF;
  color: #6666ff;
}

